// Colors
// ---------------------------------

// Default

$color-default-white: #ffffff;
$color-default-black: #000000;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-gainsboro: #dddddd;
$color-jade: #00b96b;
$color-wild-strawberry: #eb2f96;
$color-coral: #ff7a45;
$color-purple-heart: #9254de;

// Animation
// ---------------------------------

$tf-default: ease;

$trans-300: 0.3s $tf-default;
$trans-500: 0.5s $tf-default;

// Breakpoints
// ---------------------------------

$bp-576: 576px;
$bp-768: 768px;
$bp-992: 992px;
$bp-1200: 1200px;
$bp-1600: 1600px;
