.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 100vh;

  & > div {
    margin: 0 auto !important;
  }
}

.title {
  font-size: 24px !important;
  margin: 0 !important;

  @include bp-768 {
    font-size: 26px !important;
  }

  @include bp-768 {
    font-size: 28px !important;
  }
}

.text {
  color: rgba(0, 0, 0, 0.45) !important;
  font-size: 18px !important;

  @include bp-768 {
    font-size: 20px !important;
  }

  @include bp-1600 {
    font-size: 22px !important;
  }
}
