.title {
  font-size: 24px !important;
  margin-top: 0;
  text-align: center;

  @include bp-768 {
    font-size: 26px !important;
  }

  @include bp-1600 {
    font-size: 28px !important;
  }
}

.form {
  width: 100vw;
  margin: auto;
  padding: 30px;

  background-color: $color-default-white;
  border-radius: 15px;

  @include bp-768 {
    width: 60vw;
  }

  @include bp-1200 {
    width: 35vw;
  }
}

.buttons {
  margin-top: 15vh;

  @include bp-768 {
    margin-top: 5vh;
  }
}

