.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 25px 15px;

  @include bp-576 {
    padding: 25px 20px;
  }

  @include bp-768 {
    padding: 25px 30px;
  }

  @include bp-992 {
    padding: 25px 40px;
  }

  @include bp-1200 {
    padding: 25px 50px;
  }

  @include bp-1600 {
    padding: 25px 80px;
  }
}
