.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 100vh;
}

.result > div {
  margin: 0 auto !important;
}

.title {
  font-size: 24px !important;
  margin: 0 !important;
}

@media (min-width: 768px) {
  .title {
    font-size: 26px !important;
  }
}

@media (min-width: 1600px) {
  .title {
    font-size: 28px !important;
  }
}

.text {
  color: rgba(0, 0, 0, 0.45) !important;
  font-size: 18px !important;
}

@media (min-width: 768px) {
  .text {
    font-size: 20px !important;
  }
}

@media (min-width: 1600px) {
  .text {
    font-size: 22px !important;
  }
}
