.header {
  background-color: $color-jade;
  height: auto !important;
  padding: 10px 15px !important;

  line-height: normal;

  @include bp-576 {
    padding: 5px 20px !important;
  }

  @include bp-768 {
    padding: 5px 30px !important;
  }

  @include bp-992 {
    padding: 5px 40px !important;
  }

  @include bp-1200 {
    padding: 5px 50px !important;
  }

  @include bp-1600 {
    padding: 5px 80px !important;
  }
}

.col {
  text-align: center;
}

.link {
  transition: opacity $trans-300;

  @include hover-focus {
    opacity: 0.7;
  }

  @include active {
    opacity: 0.5;
  }
}
