.modal {
  min-height: 50vh;
  margin: 40px 0;
}

.title {
  font-size: 20px !important;

  &--center {
    text-align: center;
  }

  @include bp-768 {
    font-size: 22px !important;
  }

  @include bp-1600 {
    font-size: 24px !important;
  }
}

.text {
  font-size: 14px !important;

  @include bp-768 {
    font-size: 15px !important;
  }

  @include bp-1600 {
    font-size: 18px !important;
  }
}

.date {
  color: rgba(0, 0, 0, 0.45);
  margin-top: 30px;
  font-size: 14px !important;
  font-weight: 500;

  @include bp-768 {
    font-size: 15px !important;
  }

  @include bp-1600 {
    font-size: 18px !important;
  }
}

.label {
  & label {
    font-size: 15px !important;

    @include bp-768 {
      font-size: 16px !important;
    }

    @include bp-1600 {
      font-size: 18px !important;
    }
  }
}

.input,
.textarea {
  font-size: 14px !important;

  @include bp-768 {
    font-size: 15px !important;
  }

  @include bp-1600 {
    font-size: 17px !important;
  }
}

.textarea {
  & textarea {
    resize: none !important;
  }
}

.buttons {
  margin-top: 40px;
}
