.card {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & > div:first-child {
      flex-grow: 1;
    }
  }

  @include hover {
    border-color: $color-jade;
  }
}

.title {
  font-size: 18px !important;
  color: $color-default-white !important;

  @include bp-768 {
    font-size: 20px !important;
  }

  @include bp-1600 {
    font-size: 22px !important;
  }
}

.text {
  font-size: 14px !important;

  @include bp-768 {
    font-size: 15px !important;
  }

  @include bp-1600 {
    font-size: 18px !important;
  }
}

.date {
  & * {
    margin-top: auto !important;

    font-size: 14px !important;
    font-weight: 500;

    @include bp-768 {
      font-size: 15px !important;
    }

    @include bp-1600 {
      font-size: 18px !important;
    }
  }
}
