.card {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & > div:first-child {
      flex-grow: 1;
    }
  }

  @include hover-focus {
    box-shadow: 0 1px 5px 2px rgba($color-jade, 0.16),
      0 3px 6px 2px rgba($color-jade, 0.12),
      0 5px 12px 4px rgba($color-jade, 0.09) !important;

    border-color: $color-jade !important;
    outline: none;
  }

  @include hover-mobile {
    box-shadow: none !important;
    border-color: $color-jade !important;
  }

  @include active {
    box-shadow: 0 1px 5px 2px rgba($color-wild-strawberry, 0.16),
      0 3px 6px 2px rgba($color-wild-strawberry, 0.12),
      0 5px 12px 4px rgba($color-wild-strawberry, 0.09) !important;

    transition: none;
    border-color: $color-wild-strawberry !important;

    & > div:first-child {
      background-color: $color-wild-strawberry;
    }

    & * {
      border-color: $color-wild-strawberry !important;
      border-inline-end-color: $color-wild-strawberry !important;
    }
  }
}

.title {
  font-size: 18px !important;
  color: $color-default-white !important;

  @include bp-768 {
    font-size: 20px !important;
  }

  @include bp-1600 {
    font-size: 22px !important;
  }
}

.text {
  font-size: 14px !important;

  @include bp-768 {
    font-size: 15px !important;
  }

  @include bp-1600 {
    font-size: 18px !important;
  }
}

.date {
  font-size: 14px !important;
  font-weight: 500;

  @include bp-768 {
    font-size: 15px !important;
  }

  @include bp-1600 {
    font-size: 18px !important;
  }
}
